body {
  background-color: #FAEEE7;
}
hr {
  border-style: none none dotted none;
  border-width: 0.45em;
  width: 6%;
  border-bottom-color: #91C483;
}
h3 {
  color: #4FBDBA;
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;

  margin-bottom: 5px;
}
h1 {
  font-family: Georgia, serif
}
